<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="shortcut icon" href="/image/icon.png">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/setting.css">
</head>
<body>

    <div class="verify-box">
        <%if(data.title!=='Success' && data.title!=='reset-password' && data.title!=='Successfully!'){%>
        <h2><%=data.title%></h2><br>
        <h3><%=data.content%></h3>
        <form action="/account/forgot-password" method="post">
            <input class="input_id" name="id" placeholder="Account ID" required>
            <button type="submit" class="summit_btn">SUBMIT</button>
        </form>
        <%} else if(data.title==='Success'){%>
            <h2><%=data.title%></h2><br>
            <h3><%=data.content%><a target="_blank" href="https://mail.google.com/"><%=data.email%></a></h3><br>
            <h3><%=data.last_content%></h3>
        <%} else if(data.title==='reset-password'){%>
            <h2>Change your password</h2><br>
            <form action="/reset_password" method="post">
                <input class="input_id" name="new_password" placeholder="New Password" required>
                <button type="submit" class="summit_btn">SUBMIT</button>
            </form>
        <%} else if(data.title==='Successfully!'){%>
            <h2><%=data.title%></h2><br>
            <h3><%=data.content%><a href="/">HERE</a> </h3>
        <%}%>
    </div>

</body>
</html>
